@(message: String)(implicit assetsFinder: AssetsFinder)

@main(message) {
<div class="biglink">
    <a href="/mix-for-friends">A Mix for Friends</a>
</div>
<br>
<br>
<div class="biglink">
    <a href="/first-rays">First Rays</a>
</div>
<br>
<br>
<br>
<br>
<div class="link">
    <a href="/top-artists">Top Artists</a>
</div>
<br>
<div class="link">
    <a href="/top-albums">Top Albums</a>
</div>
<br>
<div class="link">
    <a href="/top-tracks">Top Tracks</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="smalllink">
    <a target="_blank"
       href="https://www.saatchiart.com/print/New-Media-Three-Triangles-Talking/1519587/7399737/view">Art</a>
</div>
<div class="smalllink">
    <a href="/click">Click Here</a>
</div>
}
