@import _root_.de.umass.lastfm._
@(title: String)(implicit assetsFinder: AssetsFinder)

@main(title) {
<h3>@title</h3>
<p class="link">001:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-001">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-001/">MixCloud</a>
</p>
<br>
<p class="link">002:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-002">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-002/">MixCloud</a>
</p>
<br>
<p class="link">003:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-003">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-003/">MixCloud</a>
</p>
<br>
<p class="link">004:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-004">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-004/">MixCloud</a>
</p>
<br>
<p class="link">005:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-005">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-005/">MixCloud</a>
</p>
<br>
<p class="link">006:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-006">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-006/">MixCloud</a>
</p>
<br>
<p class="link">007:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-007">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-007/">MixCloud</a>
</p>
<br>
<p class="link">008:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-008">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-008/">MixCloud</a>
</p>
<br>
<p class="link">00X:
    <a class="linelink" target="_blank" href="https://soundcloud.com/sunraysradio/a-mix-for-friends-x">SoundCloud</a> and
    <a class="linelink" target="_blank" href="https://www.mixcloud.com/sunraysradio/a-mix-for-friends-x/">MixCloud</a>
</p>
<br>


}